/*------------------------------- ESTILS GLOBALS -------------------------------*/

body {
    background-color: black;
    color: #00FF00;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1 0 auto;
}




.seccioCont {
    text-align: center;
    padding: 2rem;
    margin-top: 20vh;
     display: none; 
}

#rellotg {
    font-size: 1rem;
    position: absolute;
    right: 20px;
    top: 10px;
}

#nom {
    position: absolute;
    right: 20px;
    top: 40px;
    font-size: 1.2rem;
}
/*------------------------------- SECCIÓ: Benvinguda -------------------------------*/

#benvi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: black;
    color: #00FF00;
}
/*------------------------------- SECCIÓ: Instruccions -------------------------------*/

#instruccions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: #00FF00;
    min-height: 80vh; 
    margin-top: 30vh; 
    padding-bottom: 10vh; 
}


/*------------------------------- SECCIÓ: Navbar -------------------------------*/

#navbar {
    display: none;
    background-color: black;
    color: #00FF00;
    padding: 1rem;
    text-align: center;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

#navbar li {
    display: inline;
    margin: 0 10px;
}

#navbar a {
    color: #00FF00;
    text-decoration: none;
}

#navbar a:hover {
    color: white;
}

/*------------------------------- SECCIÓ: Projectes -------------------------------*/

.projecte {
    background-color: #222;
    padding: 1.5rem;
    margin-top: 2rem;
    border: 1px solid #00FF00;
    border-radius: 8px;
    color: #00FF00;
    text-align: left;
    max-width: 600px;
    margin: 2rem auto;
}

.btn-back {
    background-color: #00FF00;
    color: black;
    border: 2px solid #00FF00;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    transition: 0.3s;
}

.btn-back:hover {
    background-color: black;
    color: #00FF00;
    border: 2px solid #00FF00;
}

.projectesTot {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.targ {
    background-color: #333;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #00FF00;
    width: 100%;
    max-width: 300px; 
    color: #00FF00;
    text-align: center;
    display: flex;
    flex-direction: column;
}

a {
    color: blue;
}
.targ img {
    width: 100%;
    height: auto;
    border: 1px solid #00FF00;
}

/*------------------------------- SECCIÓ: Skills -------------------------------*/


#skillsTot {
    display: flex;
    justify-content: space-around; 
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.skillsColumn {
    flex: 1;
    min-width: 300px; 
    max-width: 400px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid rgba(0, 255, 0, 0.2);
}


.skillTarg {
    padding: 1.5rem;
    margin: 1.5rem 0; 
    border: 1px solid #00FF00;
    color: #00FF00;
    background: rgba(0, 0, 0, 0.7);
    max-width: 280px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
}


.barra {
    width: 100%;
    background: #333;
    border: 1px solid #00FF00;
    height: 20px;
    margin: 15px 0;
    position: relative;
    overflow: hidden;
}

.prog {
    background: #00FF00;
    height: 100%;
    transition: width 1s ease;
    box-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00;
}


.skillNivell {
    color: #00FF00;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: 2px solid #00FF00;
    background-color: #00FF00;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: #00FF00;
    border: 1px solid #00FF00;
}
/*------------------------------- SECCIÓ: Contacte -------------------------------*/

form {
    background-color: rgba(0, 0, 0, 0.8);
    color: #00ff00;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.3);
    width: 400px;
    margin: 20px auto;
}

.formTot {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #00ff00;
    border: 2px solid #00ff00;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    height: 120px;
    resize: none;
}

.enviaBt {
    width: 100%;
    padding: 12px;
    background-color: #00ff00;
    color: #000;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.enviaBt:hover {
    background-color: #33ff33;
    transition: background-color 0.3s ease;
}

/*------------------------------- SECCIÓ: Experiencia -------------------------------*/

#mapa {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}
/*------------------------------- SECCIÓ: Footer -------------------------------*/
footer {
    background-color: #000;
    color: #00FF00;
    text-align: center;
    padding: 1rem;
    width: 100%; 
    position: relative;
    flex-shrink: 0;
    margin-top: auto; 
}



/*------------------------------- SECCIÓ: Com s'ha fet -------------------------------*/
#com-sha-fet {
    background-color: black;
    color: #00FF00;
    font-family: 'Courier New', monospace;
    padding: 3rem;
    text-align: center;
    min-height: 100vh;
    display: block;
}

#com-sha-fet h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

#com-sha-fet p, #com-sha-fet li {
    font-size: 1.2rem;
    line-height: 1.6;
}

#com-sha-fet ul {
    list-style: none;
    padding: 0;
}

 #com-sha-fet li{
    list-style: square inside;
    color: #00FF00;
}
 
/*------------------------------- SECCIÓ: Educacio-------------------------------*/

.container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 30px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    font-size: 28px;
    color: #00FF00;
    margin-bottom: 30px;
}

.query-section {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
}

.query-section input {
    background-color: #1c1c1c;
    color: #00FF00;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.query-section input::placeholder {
    color: #00FF00;
}

.output {
    margin-top: 30px;
    color: #fff;
}

.card {
    display: flex;
    flex-direction: column; 
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    align-items: center; 
    text-align: center; 
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px; 
}

.card .content {
    max-width: 700px;
}

.card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #00FF00;
}

.card p {
    font-size: 14px;
    line-height: 1.6;
    color: #ccc;
}

.error {
    color: red;
    font-weight: bold;
}

/*------------------------------- SECCIO: POPUP-------------------------------*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #00FF00;
    font-family: 'Courier New', monospace;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content {
    background-color: black;
    padding: 20px;
    border: 2px solid #00FF00;
    border-radius: 8px;
    font-size: 1.5rem;
    width: 80%;
    max-width: 400px;
}


/*------------------------------- Media Queries-------------------------------*/
@media (max-width: 768px) {
    .projectesTot {
        justify-content: flex-start; 
        gap: 0.5rem; 
    }
    
    .targ {
        max-width: 90%;
        margin: 0.5rem; 
    }
 


}


@media (max-width: 480px) {
    .projectesTot {
        flex-direction: column;
        justify-content: flex-start; 
        gap: 1rem; 
    }
    
    .targ {
        max-width: 100%; 
        margin: 1rem 0; 
    }
 
}
